===============================================================================
           You are connected to a system in property Lothar Handl
===============================================================================

 hostname:    {{ ansible_fqdn }}
 description: {{ system_description  }}
 responsible: {{ system_responsible }}
 OS:          {{ ansible_distribution }} {{ ansible_distribution_version }}

===============================================================================
